In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math, random, requests, io
%matplotlib inline

In [2]:
import sys
!{sys.executable} -m pip install ipyleaflet
!{sys.executable} -m pip install ipywidgets

Requirement already satisfied: ipyleaflet in c:\users\ethan\anaconda3\lib\site-packages (0.12.3)
Requirement already satisfied: branca<0.4,>=0.3.1 in c:\users\ethan\anaconda3\lib\site-packages (from ipyleaflet) (0.3.1)
Requirement already satisfied: xarray>=0.10 in c:\users\ethan\anaconda3\lib\site-packages (from ipyleaflet) (0.15.1)
Requirement already satisfied: ipywidgets<8,>=7.5.0 in c:\users\ethan\anaconda3\lib\site-packages (from ipyleaflet) (7.5.1)
Requirement already satisfied: traittypes<3,>=0.2.1 in c:\users\ethan\anaconda3\lib\site-packages (from ipyleaflet) (0.2.1)
Requirement already satisfied: six in c:\users\ethan\appdata\roaming\python\python37\site-packages (from branca<0.4,>=0.3.1->ipyleaflet) (1.12.0)
Requirement already satisfied: jinja2 in c:\users\ethan\anaconda3\lib\site-packages (from branca<0.4,>=0.3.1->ipyleaflet) (2.10.3)
Requirement already satisfied: setuptools>=41.2 in c:\users\ethan\anaconda3\lib\site-packages (from xarray>=0.10->ipyleaflet) (41.4.0)
Requirement already satisfied: pandas>=0.25 in c:\users\ethan\anaconda3\lib\site-packages (from xarray>=0.10->ipyleaflet) (0.25.1)
Requirement already satisfied: numpy>=1.15 in c:\users\ethan\anaconda3\lib\site-packages (from xarray>=0.10->ipyleaflet) (1.16.5)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (7.8.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (4.3.3)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (5.1.2)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (4.4.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (3.5.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ethan\anaconda3\lib\site-packages (from jinja2->branca<0.4,>=0.3.1->ipyleaflet) (1.1.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\ethan\anaconda3\lib\site-packages (from pandas>=0.25->xarray>=0.10->ipyleaflet) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\ethan\anaconda3\lib\site-packages (from pandas>=0.25->xarray>=0.10->ipyleaflet) (2019.3)
Requirement already satisfied: jedi>=0.10 in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.15.1)
Requirement already satisfied: backcall in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.1.0)
Requirement already satisfied: pygments in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (2.4.2)
Requirement already satisfied: decorator in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (4.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (2.0.10)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\ethan\appdata\roaming\python\python37\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.4.1)
Requirement already satisfied: pickleshare in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.7.5)
Requirement already satisfied: ipython-genutils in c:\users\ethan\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets<8,>=7.5.0->ipyleaflet) (0.2.0)
Requirement already satisfied: jupyter-client in c:\users\ethan\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.5.0->ipyleaflet) (5.3.3)
Requirement already satisfied: tornado>=4.2 in c:\users\ethan\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.5.0->ipyleaflet) (6.0.3)
Requirement already satisfied: jupyter-core in c:\users\ethan\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (4.5.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\ethan\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (3.0.2)
Requirement already satisfied: notebook>=4.4.1 in c:\users\ethan\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (6.0.1)
Requirement already satisfied: parso>=0.5.0 in c:\users\ethan\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.5.1)
Requirement already satisfied: wcwidth in c:\users\ethan\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.1.7)
Requirement already satisfied: pyzmq>=13 in c:\users\ethan\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets<8,>=7.5.0->ipyleaflet) (18.1.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\ethan\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets<8,>=7.5.0->ipyleaflet) (223)
Requirement already satisfied: attrs>=17.4.0 in c:\users\ethan\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (19.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\ethan\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.15.4)
Requirement already satisfied: Send2Trash in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (1.5.0)
Requirement already satisfied: prometheus-client in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.7.1)
Requirement already satisfied: terminado>=0.8.1 in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.8.2)
Requirement already satisfied: nbconvert in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (5.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.8.4)
Requirement already satisfied: bleach in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (3.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.3)
Requirement already satisfied: testpath in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.4.2)
Requirement already satisfied: defusedxml in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.6.0)
Requirement already satisfied: webencodings in c:\users\ethan\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.5.1)
Requirement already satisfied: ipywidgets in c:\users\ethan\anaconda3\lib\site-packages (7.5.1)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets) (4.3.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets) (5.1.2)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets) (7.8.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets) (4.4.0)
Requirement already satisfied: decorator in c:\users\ethan\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets) (4.4.0)
Requirement already satisfied: ipython-genutils in c:\users\ethan\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets) (0.2.0)
Requirement already satisfied: six in c:\users\ethan\appdata\roaming\python\python37\site-packages (from traitlets>=4.3.1->ipywidgets) (1.12.0)
Requirement already satisfied: notebook>=4.4.1 in c:\users\ethan\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets) (6.0.1)
Requirement already satisfied: tornado>=4.2 in c:\users\ethan\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (6.0.3)
Requirement already satisfied: jupyter-client in c:\users\ethan\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (5.3.3)
Requirement already satisfied: setuptools>=18.5 in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (41.4.0)
Requirement already satisfied: pickleshare in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.7.5)
Requirement already satisfied: backcall in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.1.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (2.0.10)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\ethan\appdata\roaming\python\python37\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.4.1)
Requirement already satisfied: pygments in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (2.4.2)
Requirement already satisfied: jedi>=0.10 in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.15.1)
Requirement already satisfied: jupyter-core in c:\users\ethan\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets) (4.5.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\ethan\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets) (3.0.2)
Requirement already satisfied: pyzmq>=17 in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (18.1.0)
Requirement already satisfied: jinja2 in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.10.3)
Requirement already satisfied: prometheus-client in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.7.1)
Requirement already satisfied: nbconvert in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (5.6.0)
Requirement already satisfied: terminado>=0.8.1 in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.8.2)
Requirement already satisfied: Send2Trash in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.5.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\ethan\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets) (2.8.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\ethan\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets) (223)
Requirement already satisfied: wcwidth in c:\users\ethan\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.1.7)
Requirement already satisfied: parso>=0.5.0 in c:\users\ethan\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.5.1)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\ethan\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (0.15.4)
Requirement already satisfied: attrs>=17.4.0 in c:\users\ethan\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (19.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ethan\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.1.1)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.3)
Requirement already satisfied: testpath in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.4.2)
Requirement already satisfied: bleach in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (3.1.0)
Requirement already satisfied: defusedxml in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.6.0)
Requirement already satisfied: webencodings in c:\users\ethan\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.1)

In [3]:
!jupyter nbextension enable --py --sys-prefix ipyleaflet
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-leaflet/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [4]:
from ipyleaflet import (
    Map, basemaps, basemap_to_tiles, Circle, 
    Marker, FullScreenControl, LayersControl, 
    LayerGroup, CircleMarker
)
# After importing, refresh the page to show the maps

In [5]:
# https://blog.jupyter.org/interactive-gis-in-jupyter-with-ipyleaflet-52f9657fa7a
center = (0, 0)
zoom=1

map_ = Map(basemap=basemaps.OpenStreetMap.Mapnik, center=center, zoom=zoom)
map_.add_control(FullScreenControl())
map_.add_control(LayersControl())
display(map_)

Map(center=[0, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text'…

In [6]:
map_.interact(zoom=(1,10,1))

Box(children=(IntSlider(value=1, description='zoom', max=10, min=1),))

## Loading the data

In [7]:
# Needed for when editing external modules
%load_ext autoreload
%autoreload
from datasetmanager import CovidManager

covid_manager = CovidManager()

datasets = covid_manager.getDatasets()

print(datasets['full'])

{'confirmed':               County Province/State Country/Region        Lat        Long  \
0                NaN            NaN    Afghanistan  33.000000   65.000000
1                NaN            NaN        Albania  41.153300   20.168300
2                NaN            NaN        Algeria  28.033900    1.659600
3                NaN            NaN        Andorra  42.506300    1.521800
4                NaN            NaN         Angola -11.202700   17.873900
...              ...            ...            ...        ...         ...
3413    Central Utah           Utah             US  39.372319 -111.575868
3414  Southeast Utah           Utah             US  38.996171 -110.701396
3415  Southwest Utah           Utah             US  37.854472 -111.441876
3416       TriCounty           Utah             US  40.124915 -109.517442
3417    Weber-Morgan           Utah             US  41.271160 -111.914512

      1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  ...  4/15/20  4/16/20  \
0           0        0        0        0        0  ...      784      840
1           0        0        0        0        0  ...      494      518
2           0        0        0        0        0  ...     2160     2268
3           0        0        0        0        0  ...      673      673
4           0        0        0        0        0  ...       19       19
...       ...      ...      ...      ...      ...  ...      ...      ...
3413        0        0        0        0        0  ...        0        0
3414        0        0        0        0        0  ...        0        0
3415        0        0        0        0        0  ...        0        0
3416        0        0        0        0        0  ...        0        0
3417        0        0        0        0        0  ...        0        0

      4/17/20  4/18/20  4/19/20  4/20/20  4/21/20  4/22/20  4/23/20  4/24/20
0         906      933      996     1026     1092     1176     1279     1351
1         539      548      562      584      609      634      663      678
2        2418     2534     2629     2718     2811     2910     3007     3127
3         696      704      713      717      717      723      723      731
4          19       24       24       24       24       25       25       25
...       ...      ...      ...      ...      ...      ...      ...      ...
3413        0        0       15       17       17       20       21       21
3414        0        0        6        7        7        7        7        8
3415        0        0       66       70       70       70       76       81
3416        0        0       10       10       10        9        9        9
3417        0        0      119      124      126      130      136      140

[3418 rows x 99 columns], 'deaths':               County Province/State Country/Region        Lat        Long  \
0                NaN            NaN    Afghanistan  33.000000   65.000000
1                NaN            NaN        Albania  41.153300   20.168300
2                NaN            NaN        Algeria  28.033900    1.659600
3                NaN            NaN        Andorra  42.506300    1.521800
4                NaN            NaN         Angola -11.202700   17.873900
...              ...            ...            ...        ...         ...
3413    Central Utah           Utah             US  39.372319 -111.575868
3414  Southeast Utah           Utah             US  38.996171 -110.701396
3415  Southwest Utah           Utah             US  37.854472 -111.441876
3416       TriCounty           Utah             US  40.124915 -109.517442
3417    Weber-Morgan           Utah             US  41.271160 -111.914512

      1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  ...  4/15/20  4/16/20  \
0           0        0        0        0        0  ...       25       30
1           0        0        0        0        0  ...       25       26
2           0        0        0        0        0  ...      336      348
3           0        0        0        0        0  ...       33       33
4           0        0        0        0        0  ...        2        2
...       ...      ...      ...      ...      ...  ...      ...      ...
3413        0        0        0        0        0  ...        0        0
3414        0        0        0        0        0  ...        0        0
3415        0        0        0        0        0  ...        0        0
3416        0        0        0        0        0  ...        0        0
3417        0        0        0        0        0  ...        0        0

      4/17/20  4/18/20  4/19/20  4/20/20  4/21/20  4/22/20  4/23/20  4/24/20
0          30       30       33       36       36       40       42     43.0
1          26       26       26       26       26       27       27     27.0
2         364      367      375      384      392      402      407    415.0
3          35       35       36       37       37       37       37     40.0
4           2        2        2        2        2        2        2      2.0
...       ...      ...      ...      ...      ...      ...      ...      ...
3413        0        0        0        0        0        0        0      0.0
3414        0        0        0        0        0        0        0      0.0
3415        0        0        1        1        1        1        1      1.0
3416        0        0        0        0        0        0        0      0.0
3417        0        0        1        1        2        2        2      2.0

[3418 rows x 99 columns]}

## Data analysis
A simple exploration of the data.

In [8]:
# Shows the dataset for deaths in the US
datasets['covid_us_deaths']

,UID,iso2,iso3,code3,FIPS,County,Province/State,Country/Region,Lat,Long,...,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20
0,16.0,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0.0
1,316.0,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,5,5,5,5,5,5,5,5,5,5.0
2,580.0,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,2,2,2,2,2,2,2,2,2,2.0
3,630.0,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,51,56,58,60,62,63,64,63,69,77.0
4,850.0,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,1,1,2,3,3,3,3,3,3,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3150,84070016.0,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,0,0,0,0,0,0,0,0,0,0.0
3151,84070017.0,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,0,0,0,0,0,0,0,0,0,0.0
3152,84070018.0,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,0,0,0,0,1,1,1,1,1,1.0
3153,84070019.0,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,0,0,0,0,0,0,0,0,0,0.0
3154,84070020.0,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,0,0,0,0,1,1,2,2,2,2.0

In [9]:
# Dataset for the number of confirmed cases
datasets['covid_confirmed'].head(20)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,784,840,906,933,996,1026,1092,1176,1279,1351
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,494,518,539,548,562,584,609,634,663,678
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,2160,2268,2418,2534,2629,2718,2811,2910,3007,3127
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,673,673,696,704,713,717,717,723,723,731
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,19,19,19,24,24,24,24,25,25,25
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,23,23,23,23,23,23,23,24,24,24
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,2443,2571,2669,2758,2839,2941,3031,3144,3435,3607
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,1111,1159,1201,1248,1291,1339,1401,1473,1523,1596
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,103,103,103,103,103,104,104,104,104,105
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,2886,2897,2926,2936,2957,2963,2969,2971,2976,2982
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,28,28,28,28,28,28,28,28,28,28
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,999,1001,1007,1015,1019,1019,1024,1024,1026,1026
12,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,433,433,435,435,435,435,437,438,438,438
13,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,165,169,180,188,195,200,201,205,207,207
14,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,1299,1299,1302,1319,1328,1329,1336,1336,1337,1343
15,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,527,532,541,544,545,545,546,546,546,548
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,14336,14476,14595,14671,14749,14795,14873,14925,15002,15071
17,NaN,Azerbaijan,40.1431,47.5769,0,0,0,0,0,0,...,1253,1283,1340,1373,1398,1436,1480,1518,1548,1592
18,NaN,Bahamas,25.0343,-77.3963,0,0,0,0,0,0,...,49,53,54,55,55,60,65,65,72,73
19,NaN,Bahrain,26.0275,50.5500,0,0,0,0,0,0,...,1671,1700,1740,1773,1881,1907,1973,2027,2217,2518

In [10]:
# Outputs the number of days since the first recorded confirmed date
number_of_days = len(datasets['covid_confirmed'].count(axis='rows')) - 4
print("Number of days since first recorded confirmed case:", number_of_days)

Number of days since first recorded confirmed case: 94

The below block will find the latest date and create a dataset that only contains the current number of confirmed cases for each country + state/region

In [11]:
latest_date = datasets['covid_confirmed'].columns[-1] # number of confirmed cases to date
df = datasets['covid_confirmed'].head(265)[['Country/Region', 'Province/State', 'Lat', 'Long', latest_date]]
df

,Country/Region,Province/State,Lat,Long,4/24/20
0,Afghanistan,NaN,33.000000,65.000000,1351
1,Albania,NaN,41.153300,20.168300,678
2,Algeria,NaN,28.033900,1.659600,3127
3,Andorra,NaN,42.506300,1.521800,731
4,Angola,NaN,-11.202700,17.873900,25
...,...,...,...,...,...
259,France,Saint Pierre and Miquelon,46.885200,-56.315900,1
260,South Sudan,NaN,6.877000,31.307000,5
261,Western Sahara,NaN,24.215500,-12.885800,6
262,Sao Tome and Principe,NaN,0.186360,6.613081,4
263,Yemen,NaN,15.552727,48.516388,1

Below will show the countries ordered by the number of cases. The US has significantly more (x4 at the time) cases they Spain.

In [12]:
df.sort_values(latest_date, ascending=False)

    Country/Region    Province/State      Lat      Long  4/24/20
225             US               NaN  37.0902  -95.7129   905358
201          Spain               NaN  40.0000   -4.0000   219764
137          Italy               NaN  43.0000   12.0000   192994
116         France               NaN  46.2276    2.2137   158636
120        Germany               NaN  51.0000    9.0000   154999
..             ...               ...      ...       ...      ...
78           China             Tibet  31.6927   88.0924        1
238         Canada         Recovered   0.0000    0.0000        0
231         Canada  Diamond Princess   0.0000    0.0000        0
37          Canada    Grand Princess  37.6489 -122.6655       -1
41          Canada       Nova Scotia  44.6820  -63.7443       -1

[264 rows x 5 columns]

# Maps

In [13]:
# This function generates a graph given the dataframe
# df - dataframe containing the data, pymap - map to be given to, 
# G - graph, scale - scale of the number of cases
# output - circle_layer - to delete this later
def generateGraph(df, pymap, G, date, scale=1):
    marker_layer = LayerGroup(name='markers')
    circle_layer = LayerGroup(name='circles')
    pos = {}
    
    for index, row in df.iterrows():
        coords = (row['Lat'], row['Long'])
        name = row['Country/Region']

        # Adds the state or province if the point has one
        if not pd.isnull(row['Province/State']):
            name += ' - ' + row['Province/State']
            
        # Add number of cases in the title
        name += ' - Confirmed:' + str(row[date])
            
        # Adds the nodes to the graph
        if None != G:
            pos[name] = coords # Add to pos dict for drawing
            G.add_node(name, pos=coords) 
        
        # Marker
        if (row[date] > 0):
            marker = Marker(location=coords, draggable=False, title=name, opacity=0.1)
            marker_layer.add_layer(marker)
            #pymap.add_layer(marker)
        
        # Circle
        if (row[date] > 0):
            circle = Circle(location=coords, radius=round(row[date]*scale), color='red', fill_color='red')
            circle_layer.add_layer(circle)
            #pymap.add_layer(circle)
        
    pymap.add_layer(marker_layer)
    pymap.add_layer(circle_layer)

In [14]:
# Generate map for the confirmed cases
confirmedCasesGraph = nx.Graph()

confirmedMap = Map(basemap=basemaps.OpenStreetMap.Mapnik, center=center, zoom=zoom)
confirmedMap.add_control(FullScreenControl())


generateGraph(df, confirmedMap, confirmedCasesGraph, latest_date, 1.2)
confirmedMap.add_control(LayersControl())

In [15]:
confirmedMap

Map(center=[0, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text'…

In this map you can see the dots represent the number of confirmed cases with the circle's radius representing the number of cases. The larger the circle, the higher number of cases the country/state/provice has.

### Australia
Below will show only Australia's Cases

In [16]:
# Create a separate dataframe for australian cities
ausCities = df.loc[df['Country/Region'] == 'Australia']
ausCities

   Country/Region                Province/State      Lat      Long  4/24/20
8       Australia  Australian Capital Territory -35.4735  149.0124      105
9       Australia               New South Wales -33.8688  151.2093     2982
10      Australia            Northern Territory -12.4634  130.8456       28
11      Australia                    Queensland -28.0167  153.4000     1026
12      Australia               South Australia -34.9285  138.6007      438
13      Australia                      Tasmania -41.4545  145.9707      207
14      Australia                      Victoria -37.8136  144.9631     1343
15      Australia             Western Australia -31.9505  115.8605      548

In [17]:
ausGraph = nx.Graph()

ausMap = Map(basemap=basemaps.OpenStreetMap.Mapnik, center=(-28, 138), zoom=4)
ausMap.add_control(FullScreenControl())
ausMap.add_control(LayersControl())

generateGraph(ausCities, ausMap, ausGraph, latest_date, 50)
display(ausMap)

Map(center=[-28, 138], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_t…

In [18]:
ausMap.interact(zoom=(1,10,1))

Box(children=(IntSlider(value=4, description='zoom', max=10, min=1),))

## Timeline
Below will show code to show the progression of cases in Australia with time.

In [19]:
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [20]:
dfaus = datasets['covid_confirmed'].loc[df['Country/Region'] == 'Australia']
ausMapTimeline = Map(basemap=basemaps.OpenStreetMap.Mapnik, center=(-28, 138), zoom=4)
ausMapTimeline.add_control(FullScreenControl())
ausMapTimeline.add_control(LayersControl())

circle_layer_aus = LayerGroup(name='circles')
marker_layer_aus = LayerGroup(name='markers')

In [21]:
# This function generates a graph given the dataframe, this is optimized for the timeline display
# df - dataframe containing the data, pymap - map to be given to, scale - scale of the number of cases (circle size)
# output - circle_layer - to delete this later
def generateGraphTimeline(df, pymap, date, circle_layer_aus, marker_layer_aus, showMarkers, scale=1):
    for index, row in df.iterrows():
        coords = (row['Lat'], row['Long'])
        
        # Everything to do with markers, can be selected to be off
        if showMarkers:
            name = row['Country/Region']

            # Adds the state or province if the point has one
            if not pd.isnull(row['Province/State']):
                name += ' - ' + row['Province/State']

            # Add number of cases in the title
            name += ' - Confirmed: ' + str(row[date])

            # Marker
            marker = Marker(location=coords, draggable=False, title=name, opacity=0.1)
            marker_layer_aus.add_layer(marker)
        
        # Circle
        if (row[date] > 0):
            circle = CircleMarker(location=coords, radius=round(row[date]*scale), color='red', fill_color='red')
            circle_layer_aus.add_layer(circle)
            
    pymap.add_layer(circle_layer_aus)
    if showMarkers:
        marker_layer_aus.name = 'markers'
        pymap.add_layer(marker_layer_aus)

In [22]:
def f(date, showMarkers):
    # Gets the data from the selected date
    date = datasets['covid_confirmed'].columns[date+3] # number of confirmed cases to date
    ausCities = dfaus[['Country/Region', 'Province/State', 'Lat', 'Long', date]]
    
    # Removes the old circle/marker layer
    if circle_layer_aus in ausMapTimeline.layers:
        ausMapTimeline.remove_layer(circle_layer_aus)
        circle_layer_aus.clear_layers()
    
    if marker_layer_aus in ausMapTimeline.layers:
        ausMapTimeline.remove_layer(marker_layer_aus)
        marker_layer_aus.clear_layers()
    
    # Generates and adds the new layer
    generateGraphTimeline(ausCities, ausMapTimeline, date, circle_layer_aus, marker_layer_aus, showMarkers, 0.02)

    return date

### Timeline Map

In [23]:
display(ausMapTimeline)

Map(center=[-28, 138], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_t…

In [24]:
# Slider: days since first confirmed case
interact(f, date=(1, number_of_days), showMarkers=widgets.Checkbox());

interactive(children=(IntSlider(value=47, description='date', max=94, min=1), Checkbox(value=False, descriptio…

Usage of map above: Move the slider to see the number of confirmed cases represented with the radius of the circle with respect to time. Move the slider to the very right to see the latest number of cases. You can select to show markers which will show the number of confirmed cases when you hover your mouse over the marker.

## Resources
Resources that were useful.

Layers Control:
* Documentation: https://ipyleaflet.readthedocs.io/en/latest/api_reference/layers_control.html
* Layers Control naming: https://github.com/jupyter-widgets/ipyleaflet/issues/293